#my_slider .sp-thumbnail-image-container {
	width: 100px;
	height: 80px;
	overflow: hidden;
	float: left;
}

#my_slider .sp-thumbnail-image {
	height: 100%;
}

#my_slider .sp-thumbnail-text {
	width: 170px;
	height: 80px;
    float: right;
    padding: 8px;
    background-color: #F0F0F0;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#my_slider .sp-thumbnail-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	color: #333;
}

#my_slider .sp-thumbnail-description {
	font-size: 14px;
	color: #333;
	text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 500px) {
	#my_slider .sp-thumbnail {
		text-align: center;
	}

	#my_slider .sp-thumbnail-image-container {
		display: none;
	}

	#my_slider .sp-thumbnail-text {
		width: 120px;
	}

	#my_slider .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	#my_slider .sp-thumbnail-description {
		display: none;
	}
}

.detalle-enlace,.detalle-enlace:hover,.detalle-enlace:focus{
	color: #fff;
}
.sp-univalle{
	background-color: #573468;
}
.sp-tranparente {
	color: #FFF;
	background: transparent !important;
}
