.select2 {
    width: 100% !important;
}
@font-face {
    font-family: 'Open Sans';
    src: url('open-sans.eot');
    src: local('icomoonregular'),
         url('open-sans.eot?#iefix') format('embedded-opentype'),
         url('open-sans.woff') format('woff'),
         url('open-sans.ttf') format('truetype'),
         url('open-sans.svg#open-sans') format('svg');
}

.bwizard-steps li.active, .bwizard-steps li.active:focus, .bwizard-steps li.active:hover {
    background: #337ab7 !important;
}