<div id="wizard" class="bwizard clearfix">
    <div class="table-responsive">
    <ol class="bwizard-steps clearfix clickable" role="tablist">
        <li role="tab" style="z-index: 7;" {% if etapa >= 1 %} aria-selected="true" class="active" {% endif %}>
            <span class="label badge-inverse">1</span>
            <a href="#" class="hidden-phone">
                 
            </a>
            <a href="#" class="hidden-phone"><small>BEGIN</small></a>
        </li>
        <li role="tab" style="z-index: 6;" {% if etapa >= 2 %} aria-selected="true" class="active" {% endif %}>
            <span class="label">2</span>
            <a href="#" class="hidden-phone">
                
            </a>
            <a href="#" class="hidden-phone"><small>PLAY</small></a>
        </li>

        <li role="tab" style="z-index: 5;" {% if etapa >= 3 %} aria-selected="true" class="active" {% endif %}>
            <span class="label">3</span>
            <a href="#" class="hidden-phone">
                
            </a>
            <a href="#" class="hidden-phone"><small>WIN</small></a>
        </li>
    </ol>
    </div>
</div>