{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Game of drones
{% endblock titulo %}

{% block titulo_interior %}
    Game of drones: <strong>Play the game</strong> 
{% endblock titulo_interior %}

{% block titulo_panel %}
	<i class="fa fa-user"></i> Game of drones
{% endblock titulo_panel %}

{% block contenido_panel %}

{% include "_wizard.html" with etapa=1 %}
<div class="col-xs-2"></div>
<div class="col-xs-10">
    <form class="form" method="post">{% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button class="btn btn-md btn-default pull-right" type="submit"><i class="fa fa-angle-right"></i>  Next</button>
    </form>
</div>
{% endblock contenido_panel %}

