{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block titulo %}
    Game of drones
{% endblock titulo %}

{% block titulo_interior %}
    Game of drones: <strong>Play the game</strong> 
{% endblock titulo_interior %}

{% block titulo_panel %}
	<i class="fa fa-user"></i> Game of drones
{% endblock titulo_panel %}

{% block contenido_panel %}
<div class='table-responsive'> 
    <table class="table table-striped table-bordered data-combine">
        <thead>
            <tr>
                {% for h in headers %}
                    <th>{{ h }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for e in elements %}
                <tr>
                {% if type == 1 %}
                    <td> {{e.player1}} </td>
                    <td> {{e.player2}} </td>
                    <td> {{e.score_player1}} </td>
                    <td> {{e.score_player2}} </td>
                    <td> {{e.winner}} </td>
                    <td> {{e.date}} </td>
                {% else %}
                    <td> {{e.winner}} </td>
                    <td> {{e.dcount}} </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenido_panel %}

