.footer{
	color: #fff;
	background:#C80024;
	padding: 10px 0px 0px 0px !important; 
}
.footer a {
	color: #fff;
}
.footer-copyright{
	color: #fff;
	background:#A70522;
}
.bg-gray{
	background:#CCC;
}
.header-logo{
	width: 350px;
}
.header-logo .img-logo {
    float: left;
    margin: 2px 2px 2px 2px;
    width: 55px;
    height: 45px;
}
.bg-univalle{
	background:#C80024; 
}
.footer-header{
	margin: 5px 0 10px !important;
}